**/node_modules
**/.env
**/package-lock.json
**/yarn.lock
**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea
**/*.sw?
**/*.log
**/*.tmp
**/coverage
**/dist
**/build
**/uploads/*
**/dump
**/*.zip
**/output.txt
**/private/*
